* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  /* background: radial-gradient(
    circle,
    rgba(115, 12, 50, 1) 5%,
    rgba(13, 12, 12, 1) 60%
  ); */
  padding: "0vh 6vh";
}

.signInButtonContainer {
  margin: auto 6vh;
  height: 50vh;
  background: rgba(133, 133, 133, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 30px 0;
  width: min(1200px, 100%);
}
