* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  
  background-color: #fff;
  background: radial-gradient(
    circle,
    rgba(115, 12, 50, 1) 5%,
    rgba(13, 12, 12, 1) 60%
  ); */
  padding: "0vh 6vh";
}

.signInButtonContainer {
  margin: auto 6vh;
  height: 50vh;
  background: rgba(133, 133, 133, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 30px 0;
  width: min(1200px, 100%);
}

.button-css {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;

  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

.cursor {
  transition: all 0.2s ease-out;
  animation: moveCursor1 1s infinite alternate;
}

.expand {
  background: transparent;
  animation: moveCursor2 0.5s forwards;
  border: 1px solid #000;
}

@keyframes moveCursor1 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes moveCursor2 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// Blink CS
.blink {
  background-color: #000000;
  color: white;
  animation: blink 4s linear infinite;
  padding: 2px;
  border-radius: 10px;
}

@keyframes blink {
  0%,
  100% {
    background-color: #101010;
    color: white;
  }
  50% {
    background-color: white;
    color: black;
  }
}
